<html>
<body>
<h1> 사용자 대시보드 <a href="/admin">(관리자 대시보드로 이동)</a></h1>
<ul id="dataList">

</ul>
</body>
<script>
    async function fetchData() {
        try {
            const response = await fetch('/api/v1/data/list', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            const data = await response.json();
            return data;
        } catch (error) {
            console.error('Error:', error);
            throw error;
        }
    }

    async function displayData() {
        const dataList = document.getElementById('dataList');
        try {
            const data = await fetchData();

            data.forEach(item => {
                const listItem = document.createElement('li');
                listItem.textContent = item.text;
                dataList.appendChild(listItem);
            });
        } catch (error) {
        }
    }

    displayData();
</script>
</html>